h1{
    color: green;
}

.titel{
    font-size: 15px;
    font-family: ".SF NS Text";
}

a{
    color: burlywood;
    -webkit-transition-duration: 0.4s;
    transition: 0.4s;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
    color: hotpink;
}

a:active {
    text-decoration: underline;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px  210px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: forestgreen;
    color: burlywood;
    border: 2px solid #4CAF50;
}

.button:hover{
    background-color: #4CAF50;
    color: white;
 }

table {
    border-collapse: collapse;
    width: 54%;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.th {
    background-color: #4CAF50;
    color: white;
}

.head-ctrl-box{


}

.head-ctrl{

}

.ctrl{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 5px;
    border: 2px solid black;

}

.ctrl:link, .ctrl:visited {
    background-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
}


.ctrl:hover, .ctrl:active {
    background-color: green;
}

.head-ctrl-box{
    float: right;
    padding-top: 375px;
    padding-right: 460px;
}
.head-picture{
background-image: url("https://media.mojang.com/blog-image/2c34ca1217c7d95e76a6f8d646adf9208f78145a/blogmcnet.png");
    width: 1024px;
    height: 436px;
}



.show-user.ng-enter,.show-user.ng-leave{
    transition:all cubic-bezier(1,1,1,1)5s;
}

.show-user.ng-enter,
.show-user.ng-leave.ng-leave-active {
    opacity:0;
}

.show-user.ng-leave,
.show-user.ng-enter.ng-enter-active {
    opacity:1;
}