

<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Minecarft</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>我的世界</h2>
                <p>《我的世界》（英语：Minecraft，港台译作“当个创世神”）是一款沙盒游戏，最初由瑞典游戏设计师马库斯·阿列克谢·泊松单独开发，随后由2009年成立的瑞典公司Mojang开发并发行。玩家可以在一个随机生成的3D世界内，以带材质贴图的立方体为基础进行游戏。游戏中的其他特色包括探索世界、采集资源、合成物品及生存冒险等。游戏有多种模式，生存模式中玩家必须维持生命并采集资源来打造自己的世界；
                </p>

                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="1.png">

                <p>创造模式中玩家拥有无限的资源并可飞行；冒险模式中玩家可在其他玩家定制的地图中游玩。游戏的java平台版（需配置java联机插件）以其强大的第三方模组而知名，它们可为游戏添加各种新的物品、角色和功能。
                </p>
                <p>游戏PC平台的Alpha版本在2009年5月17日公开发布，经逐步更新后正式版本于2011年11月18日发布。Android版和iOS版分别于2011年10月7日及11月17日发售。2012年5月9日，Mojang通过Xbox Live Arcade向Xbox 360用户发售，而2013年12月17日及2014年9月4日，亦先后登录PlayStation 3、PlayStation 4平台，紧接着同年9月5日发布Xbox One版本，Playstation Vita版本亦于2014年10月14日起开售。同年10月10日，Windows Phone版本亦开始销售[14]。2015年12月17日发售Wii U版本。所有版本的Minecraft都将享受定期更新。游戏的主机版与4J Studios合作开发。
                </p>
                <p>《我的世界》获得了业界的一致好评，赢得了众多奖项和荣誉。截至2017年2月，游戏销量超过1.21亿，使其成为有史以来第二畅销的电子游戏，仅次于俄罗斯方块。2014年9月，微软公司宣布以25亿美金收购Mojang及游戏的知识产权，收购于两个月后完成[15][16][17][18]。2016年5月，网易宣布代理《我的世界》中国版。</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://https://zh.wikipedia.org/wiki/我的世界" target="_blank" md-autofocus>
                More
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

