<!doctype html>
<html ng-app="minecraft">

<head>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-animate.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-resource.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-route.min.js"></script>
    <script src="index.js"></script>
    <script src="photo.html"></script>
    <script src="script.js"></script>
    <title>MINECRAFT | Command</title>
    <link rel="icon" type="image/x-cion" href="http://attachment.mcbbs.net/forum/201012/21/170145ojoxyxj0ybfjyijy.jpg">
    <link rel="stylesheet" href="animations.css">
    <meta charset="utf-8" />

</head>


<div align="center">
       <a name="T"></a>
        <div style="margin:0 auto;width:1000px;height:20px;overflow:hidden;">
        </div>
        <h1><u>Minecraft</u></h1>
        <div class="head-picture">
            <div class="head-ctrl-box" align="center" >
                <p class="head-ctrl">
                    <a class="ctrl" href="#1"></a>
                    <a class="ctrl" href="#2"></a>
                    <a class="ctrl" href="#3"></a>
                    <a class="ctrl" href="#4"></a>
                </p>
            </div>
        </div>
        <p> </p>
        <div ng-controller="MinecraftController as ctrl" class="titel">
           <div>
            <button href="" ng-click="ctrl.loadCommands(0,20)" ng-mouseenter="openedcommend=openedcommend+1" ng-init="openedcommend=0" class="button button1" >读取命令</button>
            <button href="" ng-click="ctrl.loadUsers()" ng-mouseenter="openeduser=openeduser+1" ng-init="openeduser=0" class="button button1">读取用户</button>
            <a href="#D">Down</a>
           </div>
            <div ng-repeat="cmd in ctrl.commandscmd ">
                <p><b>名称</b> {{cmd.command}}</p>
                <p><b>说明</b> {{cmd.description}}</p>
            </div>
                <p></p>
                <div>
            <table border="1" ng-if="openedcommend" class="show-user">
                <tr class="th">
                    <td>命令</td>
                    <td>说明</td>
                </tr>
                <tr ng-repeat="line in ctrl.Commanddata.results" class="td">
                    <td>{{line.command}}</td>
                    <td>{{line.description}}</td>
                </tr>
            </table>
                    <div ng-if="openedcommend" ng-switch on="count">
                        <table ng-repeat="">
                        </table>
                            <span>每页
                            <select ng-model="count" >
                            <option >5</option>
                            <option >10</option>
                            <option >15</option>
                            <option >20</option>
                            </select>
                            行／总共{{ctrl.Commanddata.total}}</span>
                        跳到<select  ng-model="page" >
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                           <option>6</option>
                           <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                       </select>页
                        <button ng-click="ctrl.loadCommands(page*count,count)">go</button>
                    </div>
                <p></p>
            <div class="show-user">
                <table border="1"  ng-if="openeduser" >
                    <tr class="th">
                        <td>用户名称</td>
                        <td>世界类型</td>
                    </tr>
                    <tr ng-repeat="user in ctrl.users.results" class="td">
                        <td ><a href="" ng-click="ctrl.loadUserDetail(user.name)" ng-mouseenter="openedusername=openedusername+1" ng-init="openedusername=0">{{user.name}}</a></td>
                        <td>{{user.world}}</td>
                    </tr>

                    <tr>
                        <td>目前用户人数:</td>
                        <td>{{ctrl.users.total}}</td>

                    </tr>
                    <table ng-if="openedusername">
                        <tr>
                            <td>afk:</td>
                            <td>{{ctrl.currentUserDetail.afk}}</td>
                            <td><button>更改功能</button></td>
                        </tr>
                        <tr>
                            <td>经验/等级:</td>
                            <td>{{ctrl.currentUserDetail.exp}}</td>
                        </tr>
                        <tr>
                            <td>飞行模式:</td>
                            <td>{{ctrl.currentUserDetailf.ly_mode}}</td>
                        </tr>
                        <tr>
                            <td>mod:</td>
                            <td>{{ctrl.currentUserDetail.gamemode}}</td>
                        </tr>
                        <tr>
                            <td>上帝模式:</td>
                            <td>{{ctrl.currentUserDetail.god_mode}}</td>
                        </tr>
                        <tr>
                            <td>HP:</td>
                            <td>{{ctrl.currentUserDetail.health}}</td>
                        </tr>
                        <tr>
                            <td>饥饿值:</td>
                            <td>{{ctrl.currentUserDetail.hunger}}</td>
                        </tr>
                        <tr>
                            <td>IP:</td>
                            <td>{{ctrl.currentUserDetail.ip_address}}</td>
                        </tr>
                        <tr>
                            <td>jail:</td>
                            <td>{{ctrl.currentUserDetail.jall}}</td>
                        </tr>
                        <tr>
                            <td>坐标:</td>
                            <td>{{ctrl.currentUserDetail.location}}</td>
                        </tr>
                        <tr>
                            <td>moeny</td>
                            <td>{{ctrl.currentUserDetail.money}}</td>
                        </tr>
                        <tr>
                            <td>muted</td>
                            <td>{{ctrl.currentUserDetail.muted}}</td>
                        </tr>
                        <tr>
                            <td>nick</td>
                            <td>{{ctrl.currentUserDetail.nick}}</td>
                        </tr>
                        <tr>
                            <td>op:</td>
                            <td>{{ctrl.currentUserDetail.op}}</td>
                        </tr>
                        <tr>
                            <td>游戏时间:</td>
                            <td>{{ctrl.currentUserDetail.playtime}}</td>
                        </tr>


                    </table>
                </table>
            </div>
        </div>
    </div>
    <div align="center">
        <img id="logo" src="http://www.hntyjm.com/uploadfile/201008111553552072%281%29.jpg" width="500" height="80  "></div>
    <a name="D"></a>
        <p><a href="#T">Top</a></p>
    </div>
<div align="right">
    <script>
        document.write("<span id=lblTime width='80px' height='10px' Font-Size='6pt' font-family= '.SF NS Text' style='color:burlywood'  ></span>") //输出显示日期的容器
        //每1000毫秒(即1秒) 执行一次本段代码
        setInterval("lblTime.innerText=new Date().toLocaleString()", 1000)
    </script>
</div>
</body>

</html>