<!doctype html>
<html ng-app="minecraft">
<head>
    <title>MINECRAFT | Command</title>
    <link rel="stylesheet" href="photo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="icon" type="image/x-cion" href="http://attachment.mcbbs.net/forum/201012/21/170145ojoxyxj0ybfjyijy.jpg">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="bootstrap.css">
    <meta charset="utf-8" />
</head>
<div align="center">
    <a name="T"></a>
    <div style="margin:0 auto;width:1000px;height:20px;overflow:hidden;">
    </div>
    <h1><u>Minecraft</u></h1>
    <div class="head-picture">
        <div class="head-ctrl-box" align="center">
            <p class="head-ctrl">
                <a class="ctrl" href="#1"></a>
                <a class="ctrl" href="#2"></a>
                <a class="ctrl" href="#3"></a>
                <a class="ctrl" href="#4"></a>
            </p>
        </div>
    </div>
    <p> </p>
    <div ng-controller="MinecraftController as ctrl" class="titel">
        <div>
            <button href="" ng-click="ctrl.loadCommands(0,20)" ng-mouseenter="openedcommend=openedcommend+1" ng-init="openedcommend=0" class="button button1">读取命令</button>
            <button href="" ng-click="ctrl.loadUsers()" ng-mouseenter="openeduser=openeduser+1" ng-init="openeduser=0" class="button button1">读取用户</button>
            <button ng-click="openedcommendChange=openedcommendChange+1" ng-init="openedcommendChange=0" class="button-2 button2-2">作弊</button>
            <button ng-click="openedcommendChange2=openedcommendChange2+1" ng-init="openedcommendChange2=0" class="button-3 button3-3">恶搞</button>
            <div ng-if="openedcommendChange" class="playground">
                <table border="1">
                    <tr class="th">
                        <td>输入用户名称</td>
                        <td><input type="text" ng-model="name" placeholder="请输入用户名"></td>
                    </tr>
                    <tr class="td">
                        <td><button ng-click="ctrl.Feed(name)" class="button1-1 button-1">填满饥饿度</button></td>
                        <td><button ng-click="ctrl.HP(name)" class="button1-1 button-1">填满生命值</button></td>
                    </tr>
                    <tr class="td">
                        <td><button ng-click="ctrl.Fly(name)" class="button1-1 button-1">飞行模式</button></td>
                        <td><button ng-click="ctrl.God(name)" class="button1-1 button-1">上帝模式</button></td>
                    </tr>
                    <tr>
                        <td><button ng-click="ctrl.Exp(name,exp)" class="button1-1 button-1">调整用户经验</button></button><input type="text" ng-model="exp" placeholder="请输入整数"></td>
                        <td><button ng-click="ctrl.Op(name,ctrl.currentUserDetail.op)" class="button-1 button1-1">是否设置成管理</button>: {{ctrl.currentUserDetail.op}}<input type="checkbox" ng-model="ctrl.currentUserDetail.op"></td>
                    </tr>
                    <tr>
                        <td><button  ng-click="ctrl.Mod(name,ctrl.currentUserDetail.gamemode)" class="button-1 button1-1">更改游戏模式</button>
                            <select ng-model="ctrl.currentUserDetail.gamemode">
                            <option>creative</option>
                            <option>survival</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <p></p>
            <div ng-if="openedcommendChange2">
                <table border="1">
                    <tr class="th">
                        <td>输入用户名称</td>
                        <td><input type="text" ng-model="name" placeholder="请输入用户名"></td>
                    </tr>
                    <tr class="td">
                        <td>输入时间</td>
                        <td><input type="number" ng-model="burntime" placeholder="请输入点燃时间" min="0"/>s</td>
                    </tr>
                    <tr class="td">
                        <td><a href="" ng-click="ctrl.Burn(name,burntime)">点燃该用户</a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-repeat="cmd in ctrl.commandscmd ">
            <p><b>名称</b> {{cmd.command}}</p>
            <p><b>说明</b> {{cmd.description}}</p>
        </div>
        <p></p>
        <div>
            <table border="1" ng-if="openedcommend">
                <tr class="th">
                    <td>命令</td>
                    <td>说明</td>
                    <td></td>
                </tr>
                <tr ng-repeat="line in ctrl.Commanddata.results|filter:searchText" class="td">
                    <td>{{line.command}}</td>
                    <td>{{line.description}}</td>
                    <td><button></button></td>
                </tr>
            </table>
            <div ng-if="openedcommend" ng-switch on="count">
                <table ng-repeat=""><md-switch></md-switch>
                </table>
                <span>每页
                            <select ng-model="count" >
                            <option >5</option>
                            <option >10</option>
                            <option >15</option>
                            <option >20</option>
                            </select>
                            条／总共{{ctrl.Commanddata.total}}条</span> 跳到
                <select ng-model="page">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                           <option>6</option>
                           <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                       </select><input type="number" ng-model="page" placeholder="请输入跳转页" min="0" max="100"/>页
                <span>当前第 {{page*count/count}} 页</span>
                <button ng-click="ctrl.loadCommands(page*count-count,count)" class="button-1 button1-1">go</button>
                <button ng-click="ctrl.loadCommands(0,count)" class="button-1 button1-1">首页</button>
                <button ng-click="ctrl.loadCommands(page*count,count)" class="button-1 button1-1">下一页</button>
            </div>
            <p></p>
            <div ng-if="openeduser">
                <table border="1">
                    <tr class="th">
                        <td>用户名称</td>
                        <td>世界类型</td>
                    </tr>
                    <tr ng-repeat="user in ctrl.users.results" class="td">
                        <td><a href="" ng-click="ctrl.loadUserDetail(user.name)" >{{user.name}}</a></td>
                        <td>{{user.world}}</td>
                    </tr>
                    <tr>
                        <td>目前用户人数:</td>
                        <td>{{ctrl.users.total}}</td>
                    </tr>
                    <td>
                        显示用户详情：<input type="checkbox" ng-model="openuserd" ng-init="false" >
                    </td>
                    <td></td>
                    <tr>
                </table>
                    <table border="1"  class="animate-if" ng-if="openuserd">
                        <tr class="th">
                            <td>用户名称</td>
                            <td>{{ctrl.currentUserDetail.nick}}</td>
                            <td> </td>
                        </tr>
                        <td>当前生命值:</td>
                        <td>{{ctrl.currentUserDetail.health_current}}</td>
                        <td><a href="" ng-click="ctrl.HP(ctrl.currentUserDetail.nick)">填满生命值</a></td>
                        </tr>
                        <tr>
                            <td>总生命值:</td>
                            <td>{{ctrl.currentUserDetail.health_full}}</td>
                            <td><md-switch>1</md-switch></td>
                        </tr>
                        <tr>
                            <td>当前饥饿值:</td>
                            <td>{{ctrl.currentUserDetail.hunger_current}}</td>
                            <td><a href="" ng-click="ctrl.Feed(ctrl.currentUserDetail.nick)">填满饥饿度</a></td>
                        </tr>
                        <tr>
                            <td>总饥饿值:</td>
                            <td>{{ctrl.currentUserDetail.hunger_full}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>飞行模式:</td>
                            <td>{{ctrl.currentUserDetail.fly_mode}}</td>
                            <td><a href="" ng-click="ctrl.Fly(ctrl.currentUserDetail.nick)">切换飞行模式</a></td>
                        </tr>

                        <tr>
                            <td>上帝模式:</td>
                            <td>{{ctrl.currentUserDetail.god_mode}}</td>
                            <td><a href="" ng-click="ctrl.God(ctrl.currentUserDetail.nick)">切换上帝模式</a></td>
                        </tr>
                        <tr>
                            <td>afk:</td>
                            <td>{{ctrl.currentUserDetail.afk}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>等级:</td>
                            <td>{{ctrl.currentUserDetail.level}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>经验:</td>
                            <td>{{ctrl.currentUserDetail.exp}}</td>
                            <td><input type="text" placeholder="请输入整数经验值" ng-model="ctrl.currentUserDetail.exp"><button ng-click="ctrl.Exp(ctrl.currentUserDetail.nick,ctrl.currentUserDetail.exp)" class="button-1 button1-1">升级</button></td>
                        </tr>
                        <tr>
                            <td>mod:</td>
                            <td>{{ctrl.currentUserDetail.gamemode}}</td>
                            <td>
                                <select ng-model="ctrl.currentUserDetail.gamemode">
                                    <option>creative</option>
                                    <option>survival</option>
                                </select>
                                <button ng-click="ctrl.Mod(ctrl.currentUserDetail.nick,ctrl.currentUserDetail.gamemode)" class="button-1 button1-1">更改</button>
                            </td>
                        </tr>
                        <tr>
                            <td>IP地址:</td>
                            <td>{{ctrl.currentUserDetail.ip_address}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>jail:</td>
                            <td>{{ctrl.currentUserDetail.jail}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>坐标:</td>
                            <td>{{ctrl.currentUserDetail.location}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>moeny</td>
                            <td>{{ctrl.currentUserDetail.money}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>muted</td>
                            <td>{{ctrl.currentUserDetail.muted}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>op:</td>
                            <td>{{ctrl.currentUserDetail.op}}</td>
                            <td><input type="checkbox" ng-model="ctrl.currentUserDetail.op"  >
                            </select>
                                <button ng-click="ctrl.Op(ctrl.currentUserDetail.nick,ctrl.currentUserDetail.op)" class="button-1 button1-1">更改</button>
                            </td>
                        </tr>
                        <tr>
                            <td>游戏时间:</td>
                            <td>{{ctrl.currentUserDetail.playtime}}</td>
                            <td>Welcome to play</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
    <div align="center">
        </div>
    <a name="D"></a>
    <p><a href="#T">back to top</a></p>
</div>
<div align="right">
    <script>
        document.write("<span id=lblTime width='80px' height='10px' Font-Size='6pt' font-family= '.SF NS Text' style='color:burlywood'  ></span>") //输出显示日期的容器
            //每1000毫秒(即1秒) 执行一次本段代码
        setInterval("lblTime.innerText=new Date().toLocaleString()", 1000)
    </script>
</div>
<div  align="center">
<div class="house" id="house" data-rooms="6">
    <div class="house-wings" data-flip-key="wings">
        <div class="house-left-wing">
            <div class="house-window"></div>
            <div class="house-window"></div>
            <div class="house-sparkle">
                <div class="house-sparkle-dots"></div>
            </div>
        </div>
        <div class="house-right-wing">
            <div class="house-window"></div>
            <div class="house-window"></div>
            <div class="house-sparkle">
                <div class="house-sparkle-dots"></div>
            </div>
        </div>
        <div class="house-roof">
            <div class="house-ledge"></div>
        </div>
    </div>
    <div class="house-front" data-flip-key="front">
        <div class="house-chimney"></div>
        <div class="house-facade"></div>
        <div class="house-window">
            <div class="house-sparkle">
                <div class="house-sparkle-dots"></div>
            </div>
        </div>
        <div class="house-doorway">
            <div class="house-stairs"></div>
            <div class="house-door"></div>
        </div>
        <div class="house-gable">
            <div class="house-roof">
                <div class="house-ledge"></div>
            </div>
        </div>
    </div>
</div>

<label class="house-label" for="range" id="label">Rooms</label>
<input type="range" min="3" max="6" step="1" value="6" id="range">
<script src='https://unpkg.com/flipping@0.5.3/dist/flipping.animationFrame.js'></script>

</div>
<div ng-controller="testController">

<tm-pagination conf="paginationConf"></tm-pagination>>

</div>
<script>


</script>

<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-animate.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-resource.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular-route.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js'></script>
    <script src='https://cdn.rawgit.com/angular/bower-material/v0.9.7-master-814431f/angular-material.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js"></script>
    <script type="text/javascript" src="highcharts-ng.js"></script>
    <script type="text/javascript" src="lib/Highcharts-5.0.12/code/highcharts.js"></script>
    <script src="index.js"></script>
    <script src="script.js"></script>
    <script src="tm.pagination.js"></script>
</body>

</html>