.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/